{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static './css/main.css' %}"/>
    <link rel="icon" href="{% static './img/favicon.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="utf-8">
    {% endblock %}
    <title>{% block title %}VIPress{% endblock %}</title>
  </head>
  <body>
    {% block header %}
    <header class="header-tp">
      <div class="container-header logo-nav-container">
        <div id="logo-header">
          <a href="/index"><img src="{% static './img/logo.png' %}" alt="logo" class="logo" href="/index"></a>

        </div>
        <span class="menu-icon">Menú ≡</span>
        <nav class="navigation">
          <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/seminario">Crear Seminario</a></li>
            <li><a href="/seminario/listar">Listado de Seminarios</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer class="footer">
          <div class="container-header">
            <p>&copy; Todos los derechos reservados a @VIPress</p>
          </div>
        </footer>
    {% endblock %}

    {% block scripts %}
    <script src ="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}

  </body>
</html>
